:root {
    --main-bg: #fefefe;
    --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --accent-color: rgb(12, 105, 212);
    --dark-accent-color: rgb(16, 78, 150);
}

html {
    scroll-behavior: smooth;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    background: var(--main-bg);
    overflow: hidden;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
}

.view canvas {
    background-color: black;
    width: 100%;
    height: 100%;
}

.view form {
    display: grid;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.view form input[type="range"],
.view form button {
    width: 100%;
}

.view form button {
    padding: 15px;
    font-size: large;
    color: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.view form button:active {
    background-color: var(--dark-accent-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}